[submodule "Basic/spring_framework"]
	path = Basic/spring_framework
	url = https://github.com/muhyasin89/spring_framework.git
[submodule "Basic/java_basic"]
	path = Basic/java_basic
	url = https://github.com/muhyasin89/java_basic.git
[submodule "Basic/spring_basic"]
	path = Basic/spring_basic
	url = https://github.com/muhyasin89/spring_basic.git
[submodule "Basic/spring_demo"]
	path = Basic/spring_demo
	url = https://github.com/muhyasin89/spring_demo.git
