[submodule "demo"]
	path = demo
	url = https://github.com/muhyasin89/spring_demo.git
[submodule "spring_demo"]
	path = spring_demo
	url = https://github.com/muhyasin89/spring_demo.git
[submodule "spring_basic"]
	path = spring_basic
	url = https://github.com/muhyasin89/spring_basic.git
[submodule "spring_framework"]
	path = spring_framework
	url = https://github.com/muhyasin89/spring_framework.git
